@import url("reset.css");
:root {
    --outer-width: 1366px;
    --middle-width: 1080px;
    --inner-width: 900px;
    --item-width: 660px;

    --key-color: #0099cc;
    --base-color: #131B32;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.5em;
}
html {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--base-color);
    color: #fff;
}
html.no-scroll {
    overflow: hidden;
}

main {
    margin-top: 70px !important;
}

img,object {
    max-width: 100%;
    pointer-events: none;
    vertical-align: bottom;
}

a {
    color: #fff;
    text-decoration: none;
}
p,ul,li,dl,dd,dt {
    font-size: 14px;
}

input {
    outline: initial;
}

@media screen and (max-width: 639px) {
    .sp-dnone {
        display: none !important;
    }
    p,ul,li,dl,dd,dt,div {
        font-size: 14px;
    }
}

@media screen and (min-width: 640px) {
    .pc-dnone {
        display: none !important;
    }
}

/* ======== BASE ======== */
main::before{
    content: '';
    position: fixed;
    top: -70vh;
    right: -55vw;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    z-index: -1;
    width: 180vw;
    height: 220vh;
    background: -o-radial-gradient(center, ellipse, rgba(35,50,85,1) 0%,rgba(35,50,85,1) 17%,rgba(35,50,85,0) 66%,rgba(35,50,85,0) 100%);
    background: radial-gradient(ellipse at center, rgba(35,50,85,1) 0%,rgba(35,50,85,1) 17%,rgba(35,50,85,0) 66%,rgba(35,50,85,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233255', endColorstr='#00233255',GradientType=1 );
}
@media screen and (max-width: 639px) {
    main::before{
        top: -85vh;
        right: -110vw;
        width: 270vw;
        height: 230vh;
    }
}

section {
    padding: 20px;
}
.content-inner {
    max-width: var(--inner-width);
    margin: 0 auto;
}
.content-inner>* {
    margin: 30px auto;
}
.bg--key-color {
    background-color: var(--key-color);
}
.bg--base-color {
    background-color: var(--base-color);
}
.bg--white {
    background-color: #EAEAEA;
    color: #000;
}
.bg--base-grad-color {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #1A202F;
}
.bg--base-grad-color::before {
    content: '';
    position: absolute;
    top: -90%;
    right: -90%;
    height: 220%;
    width: 210%;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    z-index: -1;
    background: -o-radial-gradient(center, ellipse, rgba(20, 30, 53,1) 0%,rgba(20, 30, 53,1) 17%,rgba(20, 30, 53,0) 66%,rgba(20, 30, 53,0) 100%);
    background: radial-gradient(ellipse at center, rgba(20, 30, 53,1) 0%,rgba(20, 30, 53,1) 17%,rgba(20, 30, 53,0) 66%,rgba(20, 30, 53,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233255', endColorstr='#00233255',GradientType=1 );
}
.txt-red {
    color: #FF4746;
}
.txt-yellow {
    color: #FCE200;
}
.txt-spink {
    color: #F84546;
}
a.link-blue {
    color: #48C7FF;
    text-decoration: underline;
}
a.link-yellow {
    color: #ffe400;
    text-decoration: underline;
}
a.link-spink {
    color: #F84546;
    text-decoration: underline;
}
.txt-small {
    font-size: 12px;
}
.txt-l {
    font-size: 20px;
}
.fwb {
    font-weight: bold;
}
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
@media screen and (max-width: 639px) {
    .txt-l {
        font-size: 18px;
    }
}


/* ======== PARTS ======== */
/* LOADER */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--base-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
.loading.--done {
    opacity: 0;
    z-index: -1;
    background-color: #ffffff;
}
.loading__loader {
    width: 50%;
    max-width: 300px;
    -webkit-animation: flash 1s linear infinite;
            animation: flash 1s linear infinite;
}

@-webkit-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* BLUE LIST */
.blue-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.blue-list__item {
    position: relative;
    border: 1px solid #99d1ff;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
}
.blue-list__item[data-title]::before {
    content: attr(data-title);
    position: absolute;
    top: -20px;
    left: 50%;
    height: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    color: #131F38;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #39a5ff;
    background: -webkit-gradient(linear, left top, right top, from(#39a5ff),to(#99d1ff));
    background: -o-linear-gradient(left, #39a5ff 0%,#99d1ff 100%);
    background: linear-gradient(to right, #39a5ff 0%,#99d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39a5ff', endColorstr='#99d1ff',GradientType=1 );
}
.blue-list__item>* {
    margin-bottom: 20px;
}
.blue-list__item>*:last-child {
    margin-bottom: 0;
}
.blue-list__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    background: -webkit-gradient(linear, left top, right top, from(#39a5ff),to(#99d1ff));
    background: -o-linear-gradient(left, #39a5ff 0%,#99d1ff 100%);
    background: linear-gradient(to right, #39a5ff 0%,#99d1ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blue-list__item img {
    border-radius: 10px;
    border: 1px solid #99d1ff;
}
@media screen and (max-width: 639px) {
    .blue-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}


/* BOX (DOT)*/
.dot-box {
    position: relative;
    border: 1px solid;
    border-radius: 20px;
}
.dot-box::before,
.dot-box::after {
    content: attr(data-t);
    position: absolute;
    top: 50%;
    letter-spacing: 10px;
    -webkit-transform: rotate(90deg) translateY(-50%) scaleY(0.6);
        -ms-transform: rotate(90deg) translateY(-50%) scaleY(0.6);
            transform: rotate(90deg) translateY(-50%) scaleY(0.6);
    z-index: 1;
}
.dot-box::before {
    left: -48px;
}
.dot-box::after {
    right: -26px;
}
.dot-box__header {
    padding: 10px 20px;
    border-bottom: 1px solid;
    border-radius: 20px 20px 0 0;
}
.dot-box__body {
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.dot-box__body>* {
    margin-bottom: 20px;
}
.dot-box__body>*:last-child {
    margin-bottom: 0;
}

/* BUTTON */
.button {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 200px;
    text-align: center;
}
.button.--light {
    border: 1px solid #89C9FF;
    background: #0c2d56;
    background: -webkit-gradient(linear, left top, right top, from(#0c2d56),to(#2a71d4));
    background: -o-linear-gradient(left, #0c2d56 0%,#2a71d4 100%);
    background: linear-gradient(to right, #0c2d56 0%,#2a71d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2d56', endColorstr='#2a71d4',GradientType=1 );
}
.button.--dark {
    background: #163372;
    background: -webkit-gradient(linear, left top, right top, from(#163372),to(#2a60d8));
    background: -o-linear-gradient(left, #163372 0%,#2a60d8 100%);
    background: linear-gradient(to right, #163372 0%,#2a60d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163372', endColorstr='#2a60d8',GradientType=1 );
}
.button.--arrow {
    position: relative;
    text-align: left;
}
.button.--arrow::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.button.--disabled {
    filter: brightness(0.5);
    pointer-events: none;
}

/* TITLE */
.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.title.--lightning {
    position: relative;
    font-size: 45px;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 213, 255, 0.509));
            filter: drop-shadow(0 0 3px rgba(0, 213, 255, 0.509));
}
.title.--lightning::before,
.title.--lightning::after {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 90px;
    height: 100%;
    background-image: url('../img/common/parts/title_deco.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.title.--lightning::before {
    left: -110px;
}
.title.--lightning::after {
    right: -110px;
    -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
}
@media screen and (max-width: 639px) {
    .title,
    .title.--lightning {
        font-size: 22px;
    }
    .title.--lightning::before,
    .title.--lightning::after {
        width: 60px;
    }
    .title.--lightning::before {
        left: -70px;
    }
    .title.--lightning::after {
        right: -70px;
        -webkit-transform: rotate(180deg) translateY(50%);
            -ms-transform: rotate(180deg) translateY(50%);
                transform: rotate(180deg) translateY(50%);
    }
}

/* XENO TITLE */
.xeno-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 20px;
    -webkit-filter: drop-shadow(0 0 2px rgba(41, 166, 255, 0.813));
            filter: drop-shadow(0 0 2px rgba(41, 166, 255, 0.813));
    letter-spacing: 8px;
    border-bottom: 1px solid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 180px;
    padding-bottom: 5px;
}
.xeno-title::before,
.xeno-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('../img/common/icon/XENO.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xeno-title::before {
    left: -50px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.xeno-title::after {
    -webkit-transform: scale(-1,1) translateY(-50%);
        -ms-transform: scale(-1,1) translateY(-50%);
            transform: scale(-1,1) translateY(-50%);
    right: -50px;
}
.xeno-title.--en {
    letter-spacing: 0px;
}
@media screen and (max-width: 639px) {
    .xeno-title {
        font-size: 18px;
        padding-bottom: 4px;
    }
}


/* PAGER */
.pagination,
.pager {
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pagination>*,
.pager>* {
    margin-right: 18px;
}
.pagination>*:last-child,
.pager>*:last-child {
    margin-right: 0;
}
.pagination li,
.pager__button {
    position: relative;
    width: 27px;
    height: 27px;
    border: 1px solid;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #131f38;
    border: 1px solid #244fad;
    -webkit-filter: drop-shadow(2px 2px 2px #0000007c);
            filter: drop-shadow(2px 2px 2px #0000007c);
}
.pagination li.active,
.pager__button.--current {
    border: initial;
    background: #163271;
    background: -o-linear-gradient(left, #163271 0%,#295fd6 100%);
    background: -webkit-gradient(linear, left top, right top, from(#163271),to(#295fd6));
    background: linear-gradient(to right, #163271 0%,#295fd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163271', endColorstr='#295fd6',GradientType=1 );
    pointer-events: none;
}
.pagination>*.disabled,
.pager__button.--disable {
    opacity: .5;
    pointer-events: none;
    -webkit-filter: initial;
            filter: initial;
}
.pager__button.--next::before,
.pager__button.--next::after,
.pager__button.--prev::before,
.pager__button.--prev::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 7px;
    height: 7px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
}
.pager__button.--prev::before,
.pager__button.--prev::after {
    -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
    right: 28%;
}
.pager__button.--prev.--double::before {
    right: 20%;
}
.pager__button.--prev.--double::after {
    right: 45%;
    width: 5px;
    height: 5px;
}
.pager__button.--next::before,
.pager__button.--next::after {
    left: 28%;
}
.pager__button.--next.--double::before {
    left: 20%;
}
.pager__button.--next.--double::after {
    left: 45%;
    width: 5px;
    height: 5px;
}
@media screen and (max-width: 639px) {
    .pagination>*,
    .pager>* {
        margin-right: 10px;
    }
}

/* NOTE */
.note {
    font-size: 12px;
}
.note-list li{
    font-size: 12px;
    padding-left:1em;
	text-indent:-1em;
}
.note-list.--en li {
    padding-left: 0.5em;
    text-indent: -0.5em;
}
.note-list li::before {
    content: '※';
}
.note-list.--en li::before {
    content: '*';
}
.note-list li[data-content]::before {
    content: attr(data-content);
}

/* LIST */
.normal-list {
    padding-left:1em;
	text-indent:-1em;
}
.normal-list.--en {
    padding-left:0.5em;
	text-indent:-0.5em;
}
.normal-list.--en.--l {
    padding-left:1em;
	text-indent:-1em;
}
.normal-list.--en.--ll {
    padding-left: 1.7em;
    text-indent: -1.7em;
}
.normal-list li[data-content]::before {
    content: attr(data-content);
}

/* ADJUST MARGIN */
.mt5{margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}

/* MODAL */

@-webkit-keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes mmslideIn {
    from {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes mmslideIn {
    from {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes mmslideOut {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

@keyframes mmslideOut {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

.modal__wrapper[aria-hidden="false"] .modal__overlay {
    -webkit-animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
    animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.modal__wrapper[aria-hidden="false"] .modal__content {
    -webkit-animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
    animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.modal__wrapper[aria-hidden="true"] .modal__overlay {
    -webkit-animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
    animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.modal__wrapper[aria-hidden="true"] .modal__content {
    -webkit-animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
    animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.modal__wrapper {
    display: none;
}

.modal__wrapper.is-open {
    display: block;
}

.modal__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0, 0, 0, .6);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
}

.modal__wrapper .modal__close:before {
    content: "\2715";
}

.modal__content {
    position: relative;
    max-width: 640px;
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #293b6280;
    -webkit-box-shadow: 0 0 10px #00000075;
    box-shadow: 0 0 10px #00000075;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.modal__content>* {
    margin: 30px auto;
}
.modal__content>*:first-child {
    margin-top: 20px;
}
.modal__content>*:last-child {
    margin-bottom: 20px;
}
.modal__alert__header object {
    height: 150px;
}
.modal__alert__header .modal__title {
    margin-top: 10px;
}

.modal__title {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
}

.modal__title.--alert {
    color: #E8A228;
    font-size: 25px;
    letter-spacing: 3px;
}

.modal__button-box {
    margin: 20px auto;
}

.modal__button-box.--split2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.modal__button-box.--split2>* {
    width: calc(50% - 5px) !important;
    max-width: calc(150px - 5px);
}

.modal__txt-btn {
    background: #163271;
    background: -o-linear-gradient(left, #163271 0%,#295fd6 100%);
    background: -webkit-gradient(linear, left top, right top, from(#163271),to(#295fd6));
    background: linear-gradient(to right, #163271 0%,#295fd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163271', endColorstr='#295fd6',GradientType=1 );
    color: #fff;
    border: initial;
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
}

.modal__txt-btn + .modal__txt-btn {
    margin-left: 10px;
}

.modal__txt-btn.--small {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.modal__txt-btn:disabled {
    background: initial;
    background-color: #24262C;
    color: #747474;
}

/* Subscribe Modal */
#subscribe-content {
    background-color: #fff;
}

/* ======== HEADER ======== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 70px;
    width: 100%;
    background-color: rgba(10,17,33,0.7 );
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
}

.header__inner {
    max-width: var(--outer-width);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 20px;
}



/* LOGO */
.logo__box {
    width: 100px;
    height: 100%;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* CONNECT WALLET */

.header__wallet {
    border-radius: 20px;
    padding: 2px;
    background-color: #00000067;
}

.header__wallet a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20px 10px 1fr;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 15px;
    font-size: 12px;
}

.header__wallet img {
    -webkit-filter: invert();
            filter: invert();
    width: 20px;
}

/* MENU */
.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto !important;
}

.header__menu__item a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}
.header__menu__item.--active a,
.header__menu__item a:hover {
    color: #6fd3ff;
    -webkit-filter: drop-shadow(0 0 2px #6fd4ff56);
            filter: drop-shadow(0 0 2px #6fd4ff56);
}
.header__menu__item.--active a {
    pointer-events: none;
}

@media screen and (min-width: 900px) {
    .header__menu,
    .header__menu__item,
    .header__menu__item a {
        height: 100%;
    }
    .header__menu__item {
        margin-right: 15px;
    }
    .header__menu .header__menu__item:last-child {
        margin-right: 0;
    }
}

/* SNS LIST */

.header__sns__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
}
.header__sns__list__item {
    margin-right: 15px;
}
.header__sns__list .header__sns__list__item:last-child {
    margin-right: 0;
}
.header__sns__list a {
    display: block;
}
.header__sns__list svg {
    height: 30px;
    width: 30px;
}


/* LANGUAGE */
.header__lang {
    cursor: pointer;
    height: 40px;
}
.header__lang__inner {
    border-radius: 5px;
    background: #163271;
    background: -o-linear-gradient(left, #163271 0%,#295fd6 100%);
    background: -webkit-gradient(linear, left top, right top, from(#163271),to(#295fd6));
    background: linear-gradient(to right, #163271 0%,#295fd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163271', endColorstr='#295fd6',GradientType=1 );
}
.header__lang__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 15px;
}
.header__lang object {
    width: 25px;
    margin-right: 10px;
}
.header__lang__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 70%;
}

.header__lang__list {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.header__lang__list__item {
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.header__lang__list__item a {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


@media screen and (max-width: 899px) {
    .header__lang {
        margin-left: auto;
        display: block !important;
    }
    .header__lang[aria-hidden="false"] .header__lang__list {
        opacity: 1;
        pointer-events: auto;
    }
    .header__lang[aria-hidden="false"] .header__lang__list__item {
        height: 40px;
    }
    .header__lang[aria-hidden="false"] .header__lang__close__bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        display: block;
    }
    .header__lang[aria-hidden="false"] .header__lang__inner {
        position: relative;
        z-index: 101;
    }
    .header__lang {
        position: relative;
    }
    .header__lang[aria-hidden="false"] .header__lang__btn__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 33px;
        z-index: 102;
    }
}
@media screen and (min-width: 900px) {
    .header__lang__btn {
        pointer-events: none;
    }
    .header__lang:hover .header__lang__list {
        opacity: 1;
        pointer-events: auto;
    }
    .header__lang:hover .header__lang__list__item {
        height: 40px;
    }
    .header__lang__btn__overlay,
    .header__lang__close__bg {
        display: none;
    }
}


/* HAMBURGER */
.header__hamburger__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
@media screen and (min-width: 900px) {
    .header__hamburger__body {
        height: 100%;
    }
    .header__hamburger__body>* {
        margin: 0 20px;
    }
    .hamburger__btn {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    .hamburger__btn {
        position: relative;
        width: 25px;
        height: 20px;
        margin-left: 10px;
        background-color: transparent;
        color: #fff;
        border: initial;
        border-top: 2px solid;
        border-bottom: 2px solid;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    .hamburger__btn.--active {
        color: transparent;
    }
    .hamburger__btn::before,
    .hamburger__btn::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        border-bottom: 2px solid #fff;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    .hamburger__btn.--active::before {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    .hamburger__btn.--active::after {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    #hamburger-body {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: -1;
        width: 100%;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: rgba(0, 0, 0, .6);
        -webkit-backdrop-filter: blur(7px);
                backdrop-filter: blur(7px);
        padding: 100px 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    #hamburger-body.--active {
        left: 0;
    }
    #hamburger-body>* {
        margin: 20px auto;
    }
    .header__menu {
        width: 100%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header__menu__item {
        width: 100%;
    }
    .header__menu__item a {
        display: block;
        padding: 20px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 2px;
    }
}


/* ======== FOOTER ======== */
footer {
    background-color: #141c32;
    text-align: center;
    padding: 30px 0;
}
footer>* {
    margin: 20px auto;
}
.footer__logo {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: 20px auto;
}
.footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer__menu>* {
    margin-right: 20px;
}
.footer__menu>*:last-child {
    margin-right: 0;
}